In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('Training-Data.csv')

In [6]:
df.head()

,Molecule ChEMBL ID,Smiles,CHEMBL614725,CHEMBL2842,CHEMBL203,CHEMBL1957
0,CHEMBL3645910,CCc1ncnc(-c2cc(F)c(C(=O)N3CCN4CCC[C@H]4C3)c(Cl...,0,1,0,0
1,CHEMBL3693444,COc1ccc(-c2ccc3c(N4CCOC[C@@H]4C)nc(N4CCOC[C@@H...,0,1,0,0
2,CHEMBL574680,O=C(Nc1ccc(-c2nc(N3CCOCC3)c3cnn(CC(F)(F)F)c3n2...,0,1,0,0
3,CHEMBL1092389,C[C@@H]1COCCN1c1nc(-c2ccc(NC(=O)Nc3ccc(C(=O)N4...,0,1,0,0
4,CHEMBL1765602,Nc1ccc(-c2ccc3ncc4ccc(=O)n(-c5cccc(C(F)(F)F)c5...,0,1,0,0

In [8]:
df = df.drop(columns = ['CHEMBL614725','CHEMBL2842','CHEMBL203','CHEMBL1957'])

In [9]:
df.head()

  Molecule ChEMBL ID                                             Smiles
0      CHEMBL3645910  CCc1ncnc(-c2cc(F)c(C(=O)N3CCN4CCC[C@H]4C3)c(Cl...
1      CHEMBL3693444  COc1ccc(-c2ccc3c(N4CCOC[C@@H]4C)nc(N4CCOC[C@@H...
2       CHEMBL574680  O=C(Nc1ccc(-c2nc(N3CCOCC3)c3cnn(CC(F)(F)F)c3n2...
3      CHEMBL1092389  C[C@@H]1COCCN1c1nc(-c2ccc(NC(=O)Nc3ccc(C(=O)N4...
4      CHEMBL1765602  Nc1ccc(-c2ccc3ncc4ccc(=O)n(-c5cccc(C(F)(F)F)c5...

In [11]:
df = df[['Smiles','Molecule ChEMBL ID']]

In [12]:
df.head()

                                              Smiles Molecule ChEMBL ID
0  CCc1ncnc(-c2cc(F)c(C(=O)N3CCN4CCC[C@H]4C3)c(Cl...      CHEMBL3645910
1  COc1ccc(-c2ccc3c(N4CCOC[C@@H]4C)nc(N4CCOC[C@@H...      CHEMBL3693444
2  O=C(Nc1ccc(-c2nc(N3CCOCC3)c3cnn(CC(F)(F)F)c3n2...       CHEMBL574680
3  C[C@@H]1COCCN1c1nc(-c2ccc(NC(=O)Nc3ccc(C(=O)N4...      CHEMBL1092389
4  Nc1ccc(-c2ccc3ncc4ccc(=O)n(-c5cccc(C(F)(F)F)c5...      CHEMBL1765602

In [13]:
df.to_csv('smiles.smi', sep='\t', index =False, header = False)